[Unit]
Description=shussha_follow

[Service]
Type=simple
WorkingDirectory=/home/pi/shussha_follow
ExecStart=/home/pi/.pyenv/versions/2.7.14/bin/python /home/pi/shussha_follow/shussha_follow.py
TimeoutStopSec=5
StandardOutput=null
User=pi
Group=pi

[Install]
WantedBy = multi-user.target
